

<h1>Your Score is:</h1>

<%= @score.to_f %> out of 4 points

<div><h1>Work Ethic</h1>

<%= @score.to_f %> out of 4 points</div>

<div><h1>Responsiveness</h1>

<%= @score.to_f %> out of 4 points</div>

<div><h1>Creativity</h1>

<%= @score.to_f %> out of 4 points</div>

<div><h1>Leadership Ability</h1>

<%= @score.to_f %> out of 4 points</div>

<div><h1>Overall effectiveness</h1>

<%= @score.to_f %> out of 4 points</div>

<div>
<h1>
See below comments
</h1>
<%= @answer.comment %>
</div>
