

<h1>Your Score is:</h1>

<%#= @total  out of 4 points%>

<div><h1>Work Ethic</h1>

<%= @total_1 %> out of 4 points</div>

<div><h1>Responsiveness</h1>

<%= @total_2 %> out of 4 points</div>

<div><h1>Creativity</h1>

<%= @total_3 %> out of 4 points</div>

<div><h1>Leadership Ability</h1>

<%= @total_4 %> out of 4 points</div>

<div><h1>Overall effectiveness</h1>

<%= @total_5 %> out of 4 points</div>
<!--

<h1>
See below comments
</h1>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment %></td>

      </tr>
    <% end %>
  </tbody>
 -->
