<h1>Thanks, your questionnaire has been submitted </h1>

<h3>Please note your questionnaire number, <%= @questionnaire  %>, for your records</h3>

<h3> <%= current_user.username %>'s Questionnaires

</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>

    <% current_user.questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.questionnaire_name %></td>
        <td><%= questionnaire.user_id %></td>
<!--

        <td>
          <a href="/questionnaires/<%= questionnaire.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td> -->


        <td>
          <a href="/delete_questionnaire/<%= questionnaire.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
          <% end %>
        </td>
      </tr>


  </tbody>
</table>


