<div class="page-header">
  <h1>Respondent #<%= @respondent.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Questionnaire</dt>
  <dd><%= @respondent.questionnaire_id %></dd>

  <dt>Respondent email</dt>
  <dd><%= @respondent.respondent_email %></dd>

  <dt>Answer 1</dt>
  <dd><%= @respondent.answer_1 %></dd>

  <dt>Answer 2</dt>
  <dd><%= @respondent.answer_2 %></dd>

  <dt>Answer 3</dt>
  <dd><%= @respondent.answer_3 %></dd>

  <dt>Answer 4</dt>
  <dd><%= @respondent.answer_4 %></dd>

  <dt>Answer 5</dt>
  <dd><%= @respondent.answer_5 %></dd>

  <dt>Course</dt>
  <dd><%= @respondent.course_id %></dd>

  <dt>User</dt>
  <dd><%= @respondent.user_id %></dd>

</dl>
